<div class="heading_container">
    <div class="header">
        <h1>{{title}}</h1>
        <p>{{tagline}}</p>

        <a href="#searchForm" class="button">Let's Dine!</a>
    </div>


</div>

<div id="searchForm" class="heading_container">
    <div class="header">
        <h1>{{title}}</h1>
        <p>{{search}}</p>
    </div>

    <div id="form">
        <form>
            <div class="cuisine">
                <label class="label" for="cusine">Choose Cuisine:</label>
                <input type="text" id="textField" placeholder="what's the mood?">
            </div>
            <br>

            <div class="label_layout">

                <div>
                    <label class="label" for="borough">Borough: </label>
                </div>

                <div>
                    <input type="checkbox" value="brooklyn">
                    <label for="borough" class="input_labels">Bk </label>

                    <input type="checkbox" value="brooklyn">
                    <label for="borough" class="input_labels">Bx </label>

                    <input type="checkbox" value="brooklyn">
                    <label for="borough" class="input_labels">Mn </label>

                    <input type="checkbox" value="brooklyn">
                    <label for="borough" class="input_labels">Qn </label>

                    <input type="checkbox" value="brooklyn">
                    <label for="borough" class="input_labels">Si </label>
                </div>
            </div>
            <br>

            <div class="label_layout">
                <div>
                    <label class="label">Outdoor Seating: </label>
                </div>
                <div>
                    <input type="radio">
                    <label class="input_labels">Yes</label>
                    <input type="radio">
                    <label class="input_labels">No</label>
                </div>

            </div>
            <br>

            <div class="label_layout">
                <div>
                    <label class="label">Dog Friendly: </label>
                </div>
                <div>
                    <input type="radio">
                    <label class="input_labels">Yes</label>
                    <input type="radio">
                    <label class="input_labels">No</label>
                </div>


            </div>
            <br>

            <div class="label_layout">
                <div>
                    <label class="label">Serves Alcohol: </label>
                </div>
                <div>
                    <input type="checkbox">
                    <label class="input_labels">Yes</label>
                    <input type="checkbox">
                    <label class="input_labels">No</label>
                    <input type="checkbox">
                    <label class="input_labels">No Prefrence</label>
                </div>
            </div>


        </form>

        {{!-- <button id="search" href="#resultsContainer">Search</button> --}}
        <a href="#resultsContainer" id="search">Search</a>
    </div>
</div>


<div id="resultsContainer">
    <p class="header">{{results}}</p>
    <table id="resultsTable">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Borough</th>
                <th>Outdoor Seating</th>
                <th>Dog Friendly</th>
                {{!-- <th>Serves Alcohol</th> --}}
            </tr>
        </thead>
        <tbody>
            <!-- JSON data rows will go here -->
        </tbody>
    </table>

    <div id="paginationControls">
        <button id="prevPage">Previous</button>
        <span id="pageIndicator">Page 1</span>
        <button id="nextPage">Next</button>
    </div>
    <a id="restart" href="#searchForm" class="button">Restart Search</a>
</div>